.about {
  text-align: center;
  margin-bottom: 150px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    margin-bottom: 0;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 77px;
  }
}

.about h2 {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $main-text-color;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 24px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 22px;
    line-height: 41px;
    margin-bottom: 30px;
    padding-left: 0;
  }
}

.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  counter-reset: num;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
    padding-left: 94px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    grid-template-columns: 1fr;
    padding-left: 20px;
  }
}

.about__list-item {
  position: relative;
  width: 263px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    margin-bottom: 79px;
    width: 260px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about__list-item::before {
  content: "0" counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: -32px;
  left: 114px;
  width: 30px;
  height: 30px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: #0ad9c6;
}

.about__list-item p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 18px;
    line-height: 34px;
    margin-top: 20px;
  }
}
