.about {
  text-align: center;
  margin-bottom: 50px;
}

.about__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $main-text-color;
  margin: 0;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 24px;
    line-height: 41px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 23px;
    line-height: 41px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__list-item {
  margin-right: 20px;
  width: 230px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 260px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.about__list-item span {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: #0ad9c6;
}

.about__list-item p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 18px;
    line-height: 34px;
  }
}
