.form {
  width: 340px;
  text-align: center;
  position: absolute;
  top: 323px;
  left: 58%;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    position: static;
    margin: 0 auto;
    width: 350px;
  }

  @media (max-width: 767px) {
    width: 288px;
    position: static;
    margin: 0 auto;
  }
}

.form p {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $text-on-dark;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    color: #000000;
    font-weight: 600;
    letter-spacing: -0.005em;
    margin-bottom: 30px;
    width: 336px;
    padding-left: 14px;
  }

  @media (max-width: 767px) {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
    width: 288px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.form input {
  width: 327px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;

  &::placeholder {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c;
    opacity: 0.5;
    padding-top: 14px;
  }

  &:hover {
    border-color: #0ad9c6;
  }

  &:active {
    border-color: orange;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 321px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}

.form input::-webkit-input-placeholder {
  color: #1c1c1c;
  opacity: 0.5;
  padding-top: 14px;
  padding-bottom: 10px;
}

.form__button {
  width: 326px;
  height: 51px;
  background: #0ad9c6;
  border-radius: 6px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.35px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    background: #09beac;
  }

  &:active {
    background: #0ad9c6;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 321px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}
