.main-nav {
  padding-top: 21px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  min-height: 50px;

  @media (max-width: 1023px) {
    padding-top: 0;
    overflow: auto;
  }
}

.main-nav__logo {
  display: block;
  position: absolute;
  top: 297px;
  left: 10px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    position: absolute;
    top: 25px;
    left: 22px;
  }

  @media (max-width: 767px) {
    position: absolute;
    top: 25px;
    left: 16px;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 874px;
  padding-left: 33px;
  border-bottom: 1px solid #4b4b4b;
  padding-bottom: 10px;

  @media (max-width: 1023px) {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 70px;
    overflow: auto;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.main-nav__list-item {
  position: relative;
  margin-right: 135px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    background-color: #f6f6f6;
    margin-right: 0;
    margin-bottom: 30px;
    min-height: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 23px;
      right: 16px;
      background-image: url("../img/icon.png");
      background-repeat: no-repeat;
    }
  }
}

.main-nav__list-item a {
  display: block;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $text-on-dark;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: 1023px) {
    font-size: 20px;
    line-height: 140%;
    color: #48494d;
    padding-left: 40px;
    padding-top: 17px;

    &:hover {
      color: #000000;
    }

    &:active {
      color: #48494d;
      opacity: 0.5;
    }
  }
}

.main-nav__menu-button {
  @media (min-width: $desktop-width) {
    display: none;
  }

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #0ad9c6;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #06c2af;
  }

  &:active {
    background-color: #ffffff;
  }
}

.main-nav--closed {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.main-nav--closed .main-nav__menu-button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 22px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__menu-button:active::before {
  background-color: fade(#000000, 30%);
  box-shadow: 0 8px 0 0 fade(#000000, 30%), 0 16px 0 0 fade(#000000, 30%);
}

.main-nav--open .main-nav__menu-button {
  background-color: transparent;
  right: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 22px;
    height: 2px;
    background-color: #d0d0d1;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #a5a5a7;
  }

  &:active::before,
  &:active::after {
    background-color: #000000;
  }
}

@media (max-width: 1023px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
    position: absolute;
    top: 0;
    border: 0;
  }

  .main-nav--nojs {
    min-height: 500px;
    position: static;
    height: 0;
    padding: 0;
  }
}

.main-nav--open {
  height: 100vh;
}

.main-nav--open .main-nav__list {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 0;
}

.main-nav--nojs .main-nav__menu-button {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list {
  min-height: 40px;
  height: auto;
}
