.modal {
  display: none;
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  width: 600px;
  height: 300px;
  border-radius: 4px;
  z-index: 3;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 288px;
    height: 150px;
  }
}

.modal--show {
  display: block;
  animation: bounce 0.6s;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 260px;
    margin-top: 15px;
  }
}

.modal__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.modal__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.modal__button {
  width: 326px;
  height: 51px;
  background: #0ad9c6;
  border-radius: 6px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  outline: 0;
  border: 0;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 260px;
    height: 40px;
    font-size: 12px;
  }

  &:hover {
    background: #09beac;
  }

  &:active {
    background: #0ad9c6;
  }
}
