.page-header {
  background-color: #1f1f1f;
  position: relative;
  width: 100%;
  z-index: 2;
}

.page-header__logo {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 318px;
    left: 19%;
    margin-left: 10px;
  }

  display: block;
  margin-left: 15px;
}
