.page-header {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-bottom: 152px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    margin-bottom: 70px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.page-header__logo {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 318px;
    left: 19%;
    margin-left: 10px;
  }

  display: block;
  margin-left: 15px;
}
