.promo {
  position: relative;
  min-height: 825px;
  background-color: #1f1f1f;
  background-image: url("/img/main-bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 150px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    background: none;
    min-height: 290px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 70px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    background: none;
    min-height: 340px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 70px;
  }
}

.promo__title {
  max-width: 880px;
  margin: 0 auto;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    max-width: 100%;
    min-height: 340px;
    background-color: #1f1f1f;
    background-image: url("/img/main-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-bottom: 71px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    max-width: 100%;
    background-color: #1f1f1f;
    background-image: url("/img/main-bg-mobile.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin-bottom: 71px;
  }
}

.promo__left {
  width: 100%;
  max-width: 370px;
  padding-top: 369px;
  padding-left: 9px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    max-width: 100%;
    padding-top: 135px;
    padding-bottom: 80px;
    padding-left: 15px;
    text-align: center;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding-top: 120px;
    padding-left: 0;
    padding-bottom: 70px;
    max-width: 288px;
    margin: 0 auto;
    text-align: center;
  }
}

.promo__left h1 {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $text-on-dark;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 19px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 30px;
    line-height: 42px;
    width: 288px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.promo__left p {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $text-on-dark;
  opacity: 0.8;
  margin: 0;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 18px;
    width: 435px;
    margin: 0 auto;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 18px;
    width: 288px;
    margin: 0 auto;
  }
}
