.types {
  background-color: #f6f7f9;
  min-height: 1038px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    min-height: 940px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    min-height: 1326px;
  }
}

.types__wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.types h2 {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $main-text-color;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 155px;
  padding-left: 18px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 24px;
    padding-top: 46px;
    margin-bottom: 35px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 24px;
    padding-top: 62px;
    margin-bottom: 37px;
  }
}

.types__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-left: -43px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 58px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.types__list-item {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 270px;
    margin-bottom: 50px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.types__list-item p {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-top: 18px;
  }
}

.types__list-item img {
  width: 342px;

  @media (min-width: $mobile-width) and (max-width: 1023px) {
    width: 270px;
    height: 300px;
    border-radius: 15px;
  }
}

.types__list-item--road::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: -1;
  background-image: url("/img/type-big-ring.png");
  background-repeat: no-repeat;
  top: 157px;
  left: -58px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 127px;
    height: 127px;
    background-image: url("/img/type-big-ring-tablet.png");
    top: 202px;
    left: -37px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 127px;
    height: 127px;
    background-image: url("/img/type-big-ring-tablet.png");
    top: 199px;
    left: 0;
  }
}

.types__list-item--mountain {
  padding-top: 29px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    padding-top: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    z-index: 2;
    background-image: url("/img/type-square.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) and (max-width: 1023px) {
      background-image: none;
    }

    @media (min-width: $mobile-width) and (max-width: 767px) {
      background-image: none;
    }
  }

  &::before {
    top: 11px;
    left: -20px;
  }

  &::after {
    bottom: 31px;
    right: -23px;
  }
}

.types__list-item--childe {
  margin-top: -10px;

  @media (min-width: $mobile-width) and (max-width: 1023px) {
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    z-index: 2;
    top: -30px;
    right: -35px;
    background-image: url("/img/type-min-ring.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) and (max-width: 1023px) {
      background-image: url("/img/type-min-ring-tablet.png");
      width: 68px;
      height: 68px;
      top: -18px;
      right: -26px;
    }

    @media (min-width: $mobile-width) and (max-width: 767px) {
      background-image: url("/img/type-min-ring-tablet.png");
      width: 68px;
      height: 68px;
      top: -13px;
      right: 0;
    }
  }
}
