.types {
  background-color: #f6f7f9;
  min-height: 1038px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    min-height: 948px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    min-height: 1323px;
  }
}

.types__wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1024px) and (max-width: 1439px) {
    max-width: 1024px;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    max-width: 590px;
  }
}

.types h2 {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.025em;
  color: $main-text-color;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 155px;
  padding-left: 18px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 24px;
    padding-top: 55px;
    margin-bottom: 35px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    font-size: 24px;
    padding-top: 59px;
    margin-bottom: 37px;
    padding-left: 0;
  }
}

.types__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-left: 20px;

  @media (min-width: 1024px) and (max-width: 1439px) {
    column-gap: 0;
    margin-left: 0;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    overflow: hidden;
  }
}

.types__list-item {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 262px;
    margin-bottom: 50px;

    &:first-child {
      margin-right: 10px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    width: 288px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}

.types__list-item p {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -1px;
  color: #000000;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    padding-left: 15px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-top: 18px;
  }
}

.types__list-item img {
  width: 342px;

  @media (min-width: 1024px) and (max-width: 1439px) {
    width: 290px;
  }

  @media (min-width: $mobile-width) and (max-width: 1023px) {
    width: 270px;
    height: 300px;
    border-radius: 7px;
  }
}

.types__list-item--road::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: -1;
  background-image: url("/img/type-big-ring.png");
  background-repeat: no-repeat;
  top: 157px;
  left: -58px;

  @media (min-width: 1024px) and (max-width: 1439px) {
    left: -1%;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 127px;
    height: 127px;
    background-image: url("/img/type-big-ring-tablet.png");
    top: 202px;
    left: -33px;
  }

  @media (max-width: 767px) {
    width: 127px;
    height: 127px;
    background-image: url("/img/type-big-ring-tablet.png");
    top: 198px;
    left: -15px;
  }
}

.types__list-item--mountain {
  padding-top: 29px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    padding-top: 0;
  }

  @media (max-width: 767px) {
    padding-top: 19px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    z-index: 2;
    background-image: url("/img/type-square.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) and (max-width: 1023px) {
      background-image: none;
    }

    @media (max-width: 767px) {
      background-image: none;
    }
  }

  &::before {
    top: 11px;
    left: -20px;

    @media (min-width: 1024px) and (max-width: 1439px) {
      left: -2px;
    }
  }

  &::after {
    bottom: 31px;
    right: -23px;

    @media (min-width: 1024px) and (max-width: 1439px) {
      right: -3px;
    }
  }
}

.types__list-item--childe {
  margin-top: -10px;

  @media (min-width: $mobile-width) and (max-width: 1023px) {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    padding-top: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    z-index: 2;
    top: -30px;
    right: -35px;
    background-image: url("/img/type-min-ring.png");
    background-repeat: no-repeat;

    @media (min-width: 1024px) and (max-width: 1439px) {
      right: 0;
    }

    @media (min-width: $tablet-width) and (max-width: 1023px) {
      background-image: url("/img/type-min-ring-tablet.png");
      width: 68px;
      height: 68px;
      top: -21px;
      right: -38px;
    }

    @media (max-width: 767px) {
      background-image: url("/img/type-min-ring-tablet.png");
      width: 68px;
      height: 68px;
      top: -3px;
      right: -4px;
    }
  }
}
