.video {
  background: linear-gradient(#131314 74%, #ffffff 26%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 960px;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    min-height: 560px;
    margin-bottom: 9px;
  }

  @media (max-width: 767px) {
    min-height: 440px;
    background: linear-gradient(#131314 87%, #ffffff 26%);
    margin-bottom: 63px;
  }
}

.video h2 {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.025em;
  color: $text-on-dark;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 125px;
  padding-left: 18px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    font-size: 24px;
    padding-top: 70px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    padding-top: 85px;
    padding-left: 0;
  }
}

.video p {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $text-on-dark;
  opacity: 0.7;
  width: 340px;
  margin: 0 auto;
  padding-left: 18px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 450px;
  }

  @media (max-width: 767px) {
    width: 288px;
    padding-left: 0;
  }
}

.video__player {
  position: relative;
}

.video__player img {
  display: block;
  width: 929px;
  height: 522px;
  margin-top: 56px;
  padding-left: 13px;

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 503px;
    height: 282px;
    margin-top: 40px;
    padding-left: 10px;
  }

  @media (max-width: 767px) {
    width: 288px;
    height: 161px;
    margin-top: 52px;
    padding-left: 0;
  }
}

.video__button {
  position: absolute;
  content: "";
  top: 227px;
  left: 51%;
  transform: translateX(-56%);
  background-image: url("/img/play-btn.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) and (max-width: 1023px) {
    width: 90px;
    height: 90px;
    background-color: #0ad9c6;
    top: 97px;
    left: 52%;
  }

  @media (max-width: 767px) {
    top: 48px;
  }
}
