.wrapper {
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: 1004px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1023px) {
  .wrapper {
    max-width: 748px;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .wrapper {
    max-width: 320px;
  }
}
